<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <!-- CSS LINK -->
  <link rel="stylesheet" href="../css/layout.css">
  <link rel="stylesheet" href="../css/create-edit.css">

  <!-- Font awesome -->
  <script src="https://kit.fontawesome.com/6b11d4a153.js" crossorigin="anonymous"></script>
  <!-- Font -->
  <!-- FONT 1 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Rethink+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Silkscreen&display=swap"
    rel="stylesheet">
</head>

<style>

form div{
    margin-bottom: 20px;
}


</style>

<body>
  <%- include('dashboardNav.ejs') %>

    <!-- Main -->
    <div class="main">
      <div class="header">
        <div class="title">
          <h3>Upload Media</h3>
        </div>
      </div>
      <div class="content">
     
   
            <form action="/events"  id="createForm"  method="POST" enctype="multipart/form-data">

            <div class="input-group">
  
                <div class="custom-file">
                    <span class="input-group-text">Upload</span>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>  
            </div>
       
        
            <div class="input-field button">
                <input type="submit" value="Upload"> <!-- Changed to 'submit' type -->
              </div>
            </form>

    </div>

    <script>
      function submitSessionForm(event) {
        event.preventDefault(); // Prevent default form submission
        const form = document.getElementById('createForm');

        const formData = {
          topicName: form.querySelector('[name="topicName"]').value,
          date: form.querySelector('[name="date"]').value,
        };

        fetch('/createSession', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(formData),
        })
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            // Check if the response is a redirect
            if (response.redirected) {
              window.location.href = response.url; // Redirect to the URL specified by the server
            }
            return response.json(); // Return JSON response from server
          })
          .then(data => {
            console.log('Success:', data);
            // Handle success, e.g., show a success message or redirect
          })
          .catch((error) => {
            console.error('Error:', error);
            // Handle error, e.g., show an error message to the user
          });
      }

      const form = document.getElementById('createForm');
      form.addEventListener('submit', submitSessionForm);

    </script>
</body>

</html>