<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- CSS LINK -->
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/tables.css">

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/6b11d4a153.js" crossorigin="anonymous"></script>
    <!-- Font -->
    <!-- FONT 1 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Rethink+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Silkscreen&display=swap"
        rel="stylesheet">
</head>

<style>
    tr td img {
        width: 150px;
    }

    .view-icon
    {
        color: #284e7d;
    }
</style>

<body>


    <%- include('dashboardNav.ejs') %>



        <!-- Main -->
        <div class="main">
            <div class="header">
                <div class="title">
                    <h3>Media</h3>
                </div>
                <div class="button">
                    <p><a href="/addMedia">Upload<span><i class="fa-solid fa-plus"></i></span></a></p>
                </div>
            </div>
            <div class="content">



                <table>
                    <thead id="header">
                        <tr>
                           
                            <th scope="col">View</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        
                            <tbody>
                                <% media.forEach(mediaItem => { %>
                                    <tr>
                                      
                                        <td data-label="View">
                                            <a href="/mediaDownload/<%= mediaItem._id %>" class="view-icon" target="_blank">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                        </td>
                                        <td data-label="Delete"><button class="delete-media-button" data-id="<%= mediaItem._id %>"><i class="fa-solid fa-trash-can"></i></button></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                            
                        
                    </tbody>
                </table>




            </div>

        </div>
        <script>
         


         document.addEventListener('DOMContentLoaded', function () {
  const deleteMediaButtons = document.querySelectorAll('.delete-media-button');

  deleteMediaButtons.forEach(button => {
    button.addEventListener('click', function (event) {
      event.preventDefault();
      const mediaId = this.getAttribute('data-id');

      fetch(`/deleteMedia/${mediaId}`, {
        method: 'POST',
      })
      .then(response => {
        if (response.status === 200) {
          window.location.reload();
        } else {
          console.error('Delete request failed');
        }
      })
      .catch(error => {
        console.error('Error deleting media:', error);
      });
    });
  });
});
function viewMedia(imageUrl) {
    // Create an image element
    var img = document.createElement('img');
    img.src = imageUrl;
    img.style.maxWidth = '100%'; // Ensuring the image is not too large

    // Clear the current content and display the image
    var contentDiv = document.querySelector('.content');
    contentDiv.innerHTML = ''; // Clear current content
    contentDiv.appendChild(img); // Add the image
}

        </script>


</body>

</html>