<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Link -->
    <link rel="stylesheet" href="../css/navbar.css">

</head>
<body>
    
<a href="/" class="logo">
		<img src="/images/logo.png" alt="" class="img">
	</a>

  	<input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
  	<label for="menu-icon"></label>
  	<nav class="nav"> 		
      <ul>
    <li><a href="/" data-text="Home">Home</a></li>
    <li><a href="/about" data-text="About">About</a></li>
    <li><a href="/contact" data-text="Contact">Contact</a></li>
    <li><a href="/login" data-text="Login">Login</a></li>
  
  </ul>
  	</nav>
</body>
</html>

    

  	